body {
    color: black;
    background-color: white;

    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1ch;

    font-family: sans-serif;
    font-size: 1rem;
}

header nav {
    font-size: 2rem;
    font-variant-caps: all-petite-caps;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: mediumvioletred;
}

p {
    text-align: justify;
    line-height: 1.5;
}

a:any-link {
    color: mediumvioletred;
    text-decoration-style: dotted;
}

a:hover {
    color: teal;
    background-color: color-mix(in srgb, cyan, white 95%);
    text-decoration: teal overline underline;
}

table {
    border-collapse: collapse;
    border-top:      thick solid;
    border-bottom:   thick solid;

    & thead {
        border-bottom: medium solid;
    }
}

/* "div" MUST be specified since the .highlighter-rouge
 * class is used on both block and inline elements.
 */
div.highlighter-rouge {
    overflow-x: scroll;
}

