<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link href="/assets/styles/main.css" rel="stylesheet">
    <title>Blog</title></head>

  <body>
    {{ content -}}</body></html>
